spring:
  datasource:
    url: ${DATASOURCE_URL:jdbc:postgresql://localhost:5433/finance_tracker}
    username: ${DATASOURCE_USERNAME:postgres}
    password: ${DATASOURCE_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

  web:
    resources:
      static-locations: classpath:/static/

telegram:
  bot:
    token: ${TELEGRAM_BOT_TOKEN}
    username: ${TELEGRAM_BOT_USERNAME:finance_tracker_bot}